*{
margin:0;
padding:0;
box-sizing: border-box;
color: black;
}
html,body{
width: 100%;
height: 100%;
}
body{
  background-color: #d9d0d0;
}
.main{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
 
  align-items: center;
  gap: 10px;
}
form{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 width: 100%;
  gap: 10px;
  background-color: #2925255b;
  font-size: 1rem;
  
  
}
.btn{
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #f7f5f5;
  color: rgb(206, 12, 12);
  font-weight: 700;

}
.btn:active{
  scale: 0.9;
}
input{
  color: rgb(22, 1, 1);
  width: 30%;
  background-color: #f7f5f5;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  border: transparent;
}
.card-container{
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 10px;
  /* align-items: center; */
  justify-content: center; 
  flex-wrap: wrap; 
}
.card{
  height: 250px;
  width: fit-content;
  

  
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: column;
 
  
  

}
.card h1{
  color: rgb(245, 82, 163);
}
.card img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width:600px) {
  input{
    width: 80%;
  }
  .card{
     height: 200px;
  width: 50vw;
  }
  
}