*{
margin:0;
padding:0;
box-sizing: border-box;
color: white;
}
html,body,#root{
width: 100%;
height: 100%;

}
body{
  background-color: #040404;
}

.navbar{
  height: 2rem;
  width: 100%;
  background-color: #cb6868;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem;

}
