*{
margin:0;
padding:0;
box-sizing: border-box;
color: white;
}
html,body{
width: 100%;
height: 100%;

}
body{
  background-color: #271919;
}

form{
  display: flex;
  gap: 10px;
  min-height: fit-content;
  background-color: #fbb3b3;
  width: fit-content;
  padding: 20px;
  margin: 10px;
  
}
input{
  padding: 10px;
 color: rgb(0, 76, 255);
  background-color: #f5f5f5;
  
}
.container{
  height: 100vh;
  width: 100%;
  background-color: #316b80;
  color: white;
}